// GOOGLE FONT MONTSERRAT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './_variables.scss';

// FIXED RULES

body{
    font-family: 'Montserrat', sans-serif;
}

li{
    list-style-type: none;
    font-size: $fnt-p-md;
}

a{
    text-decoration: none;
}

.uppercase{
    text-transform: uppercase;
}

//! ELEMENTI MOLTO RIPETUTI o MOLTO USATI

h1{
    font-size: $fnt-h-lg;
    font-weight: 800;
}

h2{
    font-size: $fnt-h-md;
    font-weight: 700;
}

h3{
    font-size: $fnt-h-sm;
    font-weight: 600;
}

p{
    font-size: $fnt-p-md;
    font-weight: 300;
    color: $salt-box;
}

.text-white{
    color: $white !important;
}

.text-blue-lagoon{
    color: $blue-lagoon;
}

//! BOTTONI di due tipologia
a.btn{
    text-transform: uppercase;
    padding: .75rem 1.3rem;
    border: none;
    border-radius: .2rem;
    display: inline-block;
    color: $white;
}
// empty
a.btn.empty{
    border: 1px solid $blue-lagoon;
    background: transparent;
    transition: $standard;

    &:hover{
        background-color: $fountain-blue;
        border: 1px solid $fountain-blue;
    }
}
//full
a.btn.full{
    background-color: $blue-lagoon;
    transition: $standard;

    &:hover{
        background-color: $fountain-blue;
    }
}

//! STRINGA EVIDENZIATA
span.shown{
    background-color: rgba($blue-lagoon, $alpha: .2);
    padding: 0 .5rem;
    border-radius: .2rem;
}


//! OVERLAY (quando serve è già pronto)
.overlay{
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

//! Paragrafi Unici
p.uppercase{
    text-transform: uppercase;
    color: $surfie-green;
    font-weight: 600;
    font-size: $fnt-p-sm;
    margin-bottom: 1rem;
}

//! HEADING TITLE with Button
div.heading-with-btn{
    margin-bottom: 4rem;

    h2{
        margin-bottom: 2rem;
    }

    div.p-btn{
        @include flex(row, space-between, center);

        p{
            color: $salt-box;
            font-size: $fnt-p-md;
        }

        a{
            display: inline-block;
        }
    }
}

//! HEADING TITLE without Button
div.heading-without-btn{

    h2{
        margin-bottom: 2rem;
    }

    p.description{
        font-size: $fnt-p-md;
        color: $salt-box;
    }

}

//! FORM INPUT & BTN SUBMIT
form{

    .input-style{
        margin-bottom: 1rem;
        border-radius: .3rem;
        border: none;
        padding: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    button{
        padding: .75rem 1.3rem;
        color: $white;
        border: none;
        border-radius: .2rem;
        display: inline-block;
        background-color: $blue-lagoon;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
        cursor: pointer;
        transition: $standard;

        &:hover{
            background-color: $fountain-blue;
        }
    }
}

//! Special Icons

a.icon{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba($blue-lagoon, $alpha: .2);
    color: $blue-lagoon;
    text-align: center;
    line-height: 2.5rem;
}




