// GOOGLE FONT MONTSERRAT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import './_variables.scss';

body{
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: $fnt-h-lg;
    font-weight: 800;
}

h2{
    font-size: $fnt-h-md;
    font-weight: 700;
}

h3{
    font-size: $fnt-h-sm;
    font-weight: 600;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

p, li{
    font-size: $fnt-p-md;
}

p.uppercase{
    text-transform: uppercase;
    color: $fountain-blue;
    font-weight: 600;
    font-size: $fnt-p-sm;
}

.uppercase{
    text-transform: uppercase;
}

.text-white{
    color: $white !important;
}

.text-grey{
    color: $abbey;
}

.text-dark{
    color: $wood-smoke;
}

.text-blue-lagoon{
    color: $blue-lagoon;
}

a.btn{
    text-transform: uppercase;
    padding: .75rem 1.3rem;
    border: none;
    border-radius: .2rem;
    display: inline-block;
}

a.btn.empty{
    border: 1px solid $blue-lagoon;
    background: transparent;
}

a.btn.full{
    background-color: $blue-lagoon;
}

span.shown{
    background-color: rgba($blue-lagoon, $alpha: .2);
    padding: 0 .5rem;
    border-radius: .2rem;
}

.overlay{
    position: absolute;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

//! HEADING TITLE with Button
div.heading-with-btn{
    margin-bottom: 4rem;
    
    p.uppercase{
        margin-bottom: 1rem;
    }

    h2{
        margin-bottom: 2rem;
    }

    div.p-btn{
        @include flex(row, space-between, center);

        p{
            color: $salt-box;
            font-size: $fnt-p-md;
        }
    }
}

//! HEADING TITLE without Button
div.heading-without-btn{
    
    p.uppercase{
        margin-bottom: 1rem;
    }

    h2{
        margin-bottom: 2rem;
    }

    p.description{
        font-size: $fnt-p-md;
    }

}

//! FORM INPUT & BTN SUBMIT
form{

    .input-style{
        margin-bottom: 1rem;
        border-radius: .3rem;
        border: none;
        padding: 1rem;
        font-family: 'Montserrat', sans-serif;
    }

    button{
        padding: .75rem 1.3rem;
        color: $white;
        border: none;
        border-radius: .2rem;
        display: inline-block;
        background-color: $blue-lagoon;
        font-family: 'Montserrat', sans-serif;
        text-transform: uppercase;
    }
}

//! Special Icons

a.icon{
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: rgba($blue-lagoon, $alpha: .2);
    color: $blue-lagoon;
    text-align: center;
    line-height: 2.5rem;
}


