// COLORS

// Color Cube
$white: #ffffff;
$wood-smoke: #111117;
$blue-lagoon: #048383;
$abbey: #4e4f52;
$silver-sand: #bcbdbd;
$fountain-blue: #52babb;
$texas-rosa: #feac61;
$copper: #ad6a35;

// Median Cut
$shark: #1d2528;
$gray-nurse: #e7eee9;
$salt-box: #676669;
$tradewind: #60a9ad;
$smalr-blue: #568597;

// Material Design
$cape-palliser: #a36b4c;
$mid-gray: #626165;
$surfie-green: #098081;
$cape-cod: #434747;
$di-serria: #da945c;

// FONTS SIZES
$fnt-p-md: 1rem;
$fnt-p-sm: .8rem;

$fnt-h-sm: 1.5rem;
$fnt-h-md: 3rem;
$fnt-h-lg: 4rem;
